/* main:intro page */

body {
    color: #111;
    background: linear-gradient(270deg, #dcd8d3, #c5c9cb, #e2e3e5, #bfc5ca, #e9e4dd);
    background-size: 300% 300%;
    overflow: hidden;
    height: 100vh;
}

p {
    line-height: 2;
    font-family: "lores-12", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.13rem;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none;

}

h1 {
    line-height: 1.5;
    font-family: "lores-15", sans-serif;
    font-weight: 700;
    font-style: normal;
    z-index: 5;
}

@keyframes gradientShift {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100 vh;
    height: 100 vw;
    z-index: -1;
    pointer-events: none;

}

#canvas1 {
    filter: blur(1px) contrast(20);
}

.main_pg {
    position: relative;
    z-index: 1;
    max-width: 620px;
    /* content */
    margin: 0 auto;
    text-align: left;
    padding: 20px;
}

.clickeicon {
    z-index: 2;
    position: relative;
    left: -1%;
    -webkit-user-drag: none;
    user-drag: none;
    user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    touch-action: none;

}

.gif-wrapper {
    position: absolute;
    display: inline-block;
    width: 100%;
    max-width: 380px;
    max-height: auto;
}

.gif-wrapper img {
    display: block;
    margin: -19%;

    -webkit-user-drag: none;
    user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    touch-action: none;
}

.hitbox {
    position: absolute;
    top: 48%;
    left: 35%;
    width: 50%;
    height: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.pixel-reveal {
    filter: blur(6px);
    animation: depixelate 1.2s ease-out forwards;
}

@keyframes depixelate {
    from {
        filter: blur(6px);
    }

    to {
        filter: blur(0);
    }
}

.end_pg {
    position: relative;
    z-index: 1;
    max-width: 620px;
    /* content */
    margin: 0 auto;
    text-align: center;
    padding: 20px;
}

.end_pg p {
    line-height: 1;


}

.row {
    display: flex;
    justify-content: space-between;
    /* left + right */
    align-items: center;
    width: 100%;
}

.item {
    text-align: center;
    cursor: pointer;
    /* keep normal link behavior */
    text-decoration: none;
    color: inherit;
}

.item img {
    pointer-events: auto;
    -webkit-user-drag: none;
    user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    touch-action: none;
}
